package="lxc-on-dsm"
version="0.1.0-0007"
displayname="LXC on DSM Lab"
maintainer="fr87"
arch="x86_64"
os_min_ver="7.0-40000"
description="Experimental native LXC lab lifecycle for Synology DSM. Not production-ready."
install_dep_packages=""
startable="yes"
silent_install="no"
silent_upgrade="no"
silent_uninstall="no"
support_conf_folder="yes"
thirdparty="yes"
